**# printing patterns:**

In [ ]:
# pattern 1: # square pattern:

n=int(input())
for x in range(1,6):
  for y in range(1,6):
    print("*",end=" ")
  print()

6
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# square pattern 2nd method:

n = int(input())
for i in range(n):
  print("* "*n)

6
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [ ]:
# pattern 3:

n=int(input())
for x in range(1,n+1):
  for y in range(1,n+1):
    print(x,end=" ")
  print()

5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
# pattern 3:

n=int(input())
for i in range(1,n+1):
  for y in range(1,n+1):
    print(y,end=" ")
  print()

4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [ ]:
# pattern 4:

n=int(input())
for x in range(1,n+1):
  for y in range(n,0,-1):
    print(y,end=" ")
  print()

5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [ ]:
# pattern 5 :
n=int(input())
for x in range(n,0,-1):
  for y in range(1,n+1):
    print(x,end=" ")
  print()

5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
# pattern 5 another method:
n=int(input())
for x in range(n,0,-1):
  for y in range(n,0,-1):
    print(x,end=" ")
  print()

5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [ ]:
# pattern 6:
n=int(input())
k=1
for i in range(1,n+1):
  for y in range(1,n+1):
    print("{:2d}".format(k),end=" ")  # simply the "{:2d}".format{k} gives the proper spacing:
    k=k+1
  print()

5
 1  2  3  4  5
 6  7  8  9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
# pattern 7:

n=int(input())
k=1
for i in range(1,n+1):
  for y in range(1,n+1):
    print("{:2d}".format(k),end=" " )
    k=k+2
  print()

5
 1  3  5  7  9
11 13 15 17 19
21 23 25 27 29
31 33 35 37 39
41 43 45 47 49

In [ ]:
# pattern 8:

n=int(input())
k=2
for x in range(1,n+1):
  for y in range(1,n+1):
    print("{:2d}".format(k),end=" ")
    k=k+2
  print()

5
 2  4  6  8 10
12 14 16 18 20
22 24 26 28 30
32 34 36 38 40
42 44 46 48 50

In [ ]:
# pattern 9 :

n=int(input())
k=int(input())
for x in range(1,n+1):
  for y in range(1,n+1):
    print("{:2d}".format(k),end=" ")
    k=k+5 # k ka increment and decrement:
  print()

5
5
 5 10 15 20 25
30 35 40 45 50
55 60 65 70 75
80 85 90 95 100
105 110 115 120 125

In [ ]:
# pattern 10:

# Outer loop for rows
for i in range(1, 6):  # Rows from 1 to 5
    # Inner loop for columns
    for j in range(1, 6):  # Columns from 1 to 5
        print(i * j,end="\t")  # Multiply and print with a tab space
    print()  # Move to the next line after each row

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [ ]:
# pattern 11:

n=int(input())

for x in range(1,n+1):
  for y in range(1,n+1):
    print(x*y,end="\t")
  print()

5
1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25

In [ ]:
# pattern 12:

for x in range(1,6):
  for y in range(1,4):
    print("{} {}".format(y,x),end=" ")
  print()

1 1 2 1 3 1
1 2 2 2 3 2
1 3 2 3 3 3
1 4 2 4 3 4
1 5 2 5 3 5

In [ ]:
# pattern 13 : # it is the reverse of the above pattern ,sirf x and y ko interchange kiya hai:

for x in range(1,6):
  for y in range(1,4):
    print("{} {}".format(x,y),end=" ")
  print()

1 1 1 2 1 3
2 1 2 2 2 3
3 1 3 2 3 3
4 1 4 2 4 3
5 1 5 2 5 3

In [ ]:
# pattern 14 :

n=int(input())
for x in range(1,n+1):
  for y in range(1,n+1):
    print("{} {}".format(x,y),end=" ")
  print()

5
1 1 1 2 1 3 1 4 1 5
2 1 2 2 2 3 2 4 2 5
3 1 3 2 3 3 3 4 3 5
4 1 4 2 4 3 4 4 4 5
5 1 5 2 5 3 5 4 5 5

In [ ]:
# pattern 15:
# important: value=i+j*5

for i in range(1,6):
  for j in range(0,5):
    print(i+j*5,end="\t")
  print()

1	6	11	16	21
2	7	12	17	22
3	8	13	18	23
4	9	14	19	24
5	10	15	20	25

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(i+j*5,end="\t")
  print()

6	11	16	21	26
7	12	17	22	27
8	13	18	23	28
9	14	19	24	29
10	15	20	25	30

In [ ]:
# pattern 16:
# Outer loop for rows
for i in range(1, 6):  # Rows (1 to 5)
    # Inner loop for columns
    for j in range(0, 5):  # Columns (0 to 4)
        if j % 2 == 0:  # For odd-indexed columns (1-based), increment i
            print(i + j * 5, end="\t")
        else:  # For even-indexed columns (0-based), decrement i

            print((5 - i + 1) + j * 5, end="\t")  # Calculate reversed row value
    print()  # Move to the next line after completing a row

1	10	11	20	21
2	9	12	19	22
3	8	13	18	23
4	7	14	17	24
5	6	15	16	25

In [ ]:
# pattern 17:
for i in range(5,0,-1):
  for j in range(0,5):
    print(i+j*5,end="\t")
  print()

5	10	15	20	25
4	9	14	19	24
3	8	13	18	23
2	7	12	17	22
1	6	11	16	21

In [ ]:
# printing pattern 18:

# Outer loop for rows (reversed order)
for i in range(5, 0, -1):  # Rows from 5 to 1
    # Inner loop for columns
    for j in range(5):  # Columns (0 to 4)
        if j % 2 == 0:  # For even columns
            print(i + j * 5, end="\t")
        else:  # For odd columns
            print((6 - i) + j * 5, end="\t")
    print()  # Move to the next line after completing a row

5	6	15	16	25
4	7	14	17	24
3	8	13	18	23
2	9	12	19	22
1	10	11	20	21

In [ ]:
#printing pattern 19:
# Code to print the pattern
n = 5  # Size of the matrix

for i in range(n):  # Loop for rows
    for j in range(n):  # Loop for columns
        # Print the odd number based on the row and column indices
        print(2 * (i + j) + 1, end=" ")
    print()  # Move to the next line after each row

1 3 5 7 9
3 5 7 9 11
5 7 9 11 13
7 9 11 13 15
9 11 13 15 17

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    print(2*(i+j)+1,end=" ")
  print()

1 3 5 7 9
3 5 7 9 11
5 7 9 11 13
7 9 11 13 15
9 11 13 15 17

In [ ]:
# pattern 20:
n=5
for x in range(n):
  for y in range(n):
    print((x+y)%2,end=" ")
  print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [ ]:
n=int(input())
for x in range(n):
  for y in range(n):
    print((x+y)%2,end=" ")
  print()

4
0 1 0 1
1 0 1 0
0 1 0 1
1 0 1 0

In [ ]:
# pattern 21:
n=5
for x in range(1,n+1):
  for y in range(0,n):
    print((x+y)%2,end=" ")
  print()

1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1

In [ ]:
# pattern 22:
n=int(input())
for x in range(1,n+1):
  for y in range(0,n):
    print((x+y)%2,end=" ")
  print()

4
1 0 1 0
0 1 0 1
1 0 1 0
0 1 0 1

In [ ]:
n=5
for x in range(1,n+1):
  for y in range(1,n+1):
    print((x*y)%2,end=" ")
  print()

1 0 1 0 1
0 0 0 0 0
1 0 1 0 1
0 0 0 0 0
1 0 1 0 1

In [ ]:
# pattern 23:
n=5
for x in range(0,n):
  for y in range(1,n+1):
    print(x%2,end=" ")
  print()

0 0 0 0 0
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1
0 0 0 0 0

In [ ]:
# pattern 24:
n=5
for x in range(1,n+1):
  for y in range(1,n+1):
    print(x%2,end=" ")
  print()

1 1 1 1 1
0 0 0 0 0
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1

In [ ]:
# pattern 25
n=5
for x in range(1,n+1):
  for y in range(0,n):
    print(y%2,end=" ")
  print()

0 1 0 1 0
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0
0 1 0 1 0

In [ ]:
# pattern 26
n=5
for x in range(1,n+1):
  for y in range(1,n+1):
    print(y%2,end=" ")
  print()

1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1

# alphabet pattern:

In [ ]:
# pattern 27:

for x in range(65,70):
  for y in range(1,6):
    print(chr(x),end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
# another method:
for x in 'ABCDE':
  for y in 'ABCDE':
    print(x,end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [ ]:
# pattern 28:
for x in 'ABCDE':
  for y in 'ABCDE':
    print(y,end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
# another method:
for x in range(1,6):
  for y in range(65,70):
    print(chr(y),end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
# pattern 29:

for x in 'EDCBA':
  for y in 'EDCBA':
    print(x,end=" ")
  print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [ ]:
# another method:

for x in range(69,64,-1):
  for y in range(1,6):
    print(chr(x),end=" ")
  print()

E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [ ]:
# pattern 30:

for x in 'EDCBA':
  for y in 'EDCBA':
    print(y,end=" ")
  print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [ ]:
# another method:

for x in range(1,6):
  for y in range(69,64,-1):
    print(chr(y),end=" ")
  print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [ ]:
# another meethod:

for x in range(1,6):
  for y in 'EDCBA':
    print(y,end=" ")
  print()

E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [ ]:
# pattern 31:
char=65
for i in range(5):
  for j in range(5):
    print(chr(char),end=" ")
    char=char+1
  print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [ ]:
# pattern 32:
for i in range(5):
  for j in range(5):
    print(chr(ord('A')+i+j),end=" ")
  print()

A B C D E
B C D E F
C D E F G
D E F G H
E F G H I

In [ ]:
# # Outer loop for rows (5 rows in total)
for i in range(5):
    # Inner loop for columns (5 characters in each row)
    for j in range(5):
        # Calculate and print the character
        print(chr(ord('A') + i + j * 5), end=" ")
    print()  # Move to the next line after each row

In [ ]:
# PATTERN 33:
for i in range(5):
  for j in range(5):
    print(chr(ord('A')+i+j*5),end=" ") # 65,70,75  5 ka gap hai:
  print()

A F K P U
B G L Q V
C H M R W
D I N S X
E J O T Y

In [ ]:
ord("A")

65

In [ ]:
ord("F")

70

In [ ]:
ord("K")

75

In [ ]:
ord("P")

80

In [ ]:
ord("U")

85

In [ ]:
# pattern 34:

# Outer loop for rows (5 rows in total, iterating in reverse order)
for i in range(4, -1, -1):  # Start from 4 down to 0
    # Inner loop for columns (5 characters in each row)
    for j in range(5):
        # Calculate and print the character
        print(chr(ord('A') + i + j * 5), end=" ")
    print()  # Move to the next line after each row

E J O T Y
D I N S X
C H M R W
B G L Q V
A F K P U